<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Lumen</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.gragera.lumen</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lumen</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Lumen sends you gentle reminders throughout the day with affirmations you've chosen.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.gragera.lumen.refresh</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay.ttf</string>
		<string>CormorantGaramond-SemiBold.ttf</string>
		<string>CormorantGaramond-Bold.ttf</string>
		<string>Caveat.ttf</string>
		<string>DancingScript.ttf</string>
		<string>AbrilFatface-Regular.ttf</string>
		<string>JosefinSans.ttf</string>
		<string>ZillaSlab-SemiBold.ttf</string>
		<string>ZillaSlab-Bold.ttf</string>
		<string>Righteous-Regular.ttf</string>
		<string>Sacramento-Regular.ttf</string>
		<string>StyleScript-Regular.ttf</string>
		<string>Urbanist.ttf</string>
		<string>Outfit.ttf</string>
		<string>SpaceGrotesk.ttf</string>
		<string>PlusJakartaSans.ttf</string>
		<string>Melodrama-Regular.ttf</string>
		<string>Melodrama-Bold.ttf</string>
		<string>Tanker-Regular.ttf</string>
		<string>Panchang-Regular.ttf</string>
		<string>Panchang-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
